.about {
  padding: 80px 0;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text {
    margin-top: 40px;
    max-width: 740px;

    font-size: 16px;
    font-weight: 400;
    line-height: calc(26 / 16);
  }

  &__img {
    border-radius: 15px;
  }

  .link {
    margin-top: 24px;
  }
}
