body {
  color: var(--black);
  font-size: 14px;
  // background-color: black;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 5px 20px;

  @include desktop {
    max-width: 1280px;
    padding: 0;
  }
}

.title {
  font-size: 24px;
  line-height: calc(29 / 24);

  font-weight: 800;
  color: var(--accent);
  text-transform: uppercase;

  @include desktop {
    font-size: 42px;
    line-height: calc(50 / 40);
  }
}

.link {
  color: var(--accent);
  font-size: 13px;
  line-height: calc(16 / 13);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;

  .icon-arrow {
    color: inherit;
    font-size: 16px;
  }
}

.current {
  color: var(--accent);
}

.current-menu-item {
  color: var(--accent);
}

.time {
  margin-top: 16px;
  color: #9b9b9b;
  font-weight: 400;
  line-height: calc(17 / 14);
}

.text {
  margin-top: 40px;
  max-width: 740px;

  font-size: 14px;
  line-height: calc(23 / 14);
  font-weight: 400;

  @include desktop {
    font-size: 16px;
    line-height: calc(26 / 16);
  }
}

.accent {
  color: var(--accent);
}

.routes {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(15 / 12);
  color: var(--gray-text);
  span {
    color: var(--black);
  }
}

.overflow {
  overflow-y: hidden;
}


