$color: var(--accent);

$width: 30px;
$height: 30px;
$half-width: $width / 2 - 0.5px;

@mixin btn($width, $height) {
  width: $width;
  height: $height;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 26px;
  background-color: $color;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  content: "";
  top: $top;
}

.mobile-menu {
  background-color: var(--black);
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
  .container {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: none;
  }

  &__header {
    .container {
      z-index: 3;
    }
  }

  &__modal {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--black);
    padding-top: 60px;
    transform-origin: 100% 0;
    transform: scale(0) rotate(60deg) translateY(-50%);
    visibility: hidden;
    transition: all 500ms cubic-bezier(0, 1.99, 1, 1.09);
  }

  &__nav-menu {
    margin-top: 55px;

    font-weight: 500;
    line-height: 1.2142857143;
    color: #f2f2f2;

    li {
      position: relative;
      padding: 15px 15px 15px 0;
    }
  }

  &__nav-menu > li > ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--black);

    transform: scale(0) rotate(60deg) translateY(-50%);
    transition: all 500ms ease-out;
  }

  &__nav-menu > li::after {
    content: "";
    display: none;
    position: absolute;
    z-index: -1;
    top: 48%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #f2f2f2;
    padding: 2px;
    cursor: pointer;
  }

  &__nav-menu > li:nth-of-type(1)::after {
    display: inline-block;
  }
  &__nav-menu > li:nth-of-type(3)::after {
    display: inline-block;
  }
  &__nav-menu > li:nth-of-type(6)::after {
    display: inline-block;
  }

  &__nav-menu > li > a {
    text-transform: uppercase;
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0 20px 20px 20px;
  }

  &__footer > div {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__back-btn {
    position: absolute;
    top: 90px;

    z-index: 1;
    margin-left: 20px;

    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-out;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 3px;
      background-color: var(--gray);
      transform: rotate(-45deg) translateY(-3px);
      position: relative;
      top: -5px;
    }

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 3px;
      background-color: var(--gray);
      transform: rotate(45deg) translateY(3px);
    }
  }

  .btn2 {
    margin-left: 16px;
    @include btn($width, $height);

    .icon {
      @include icon(3px, $width);

      &:before {
        @include icon-before(3px, $width, -10px);
      }

      &:after {
        @include icon-after(3px, $width, 10px);
      }
    }

    &.open {
      .icon {
        transition-duration: 0.5s;
        background-color: transparent;

        &:before {
          transform-origin: $width;
          transform: rotate(45deg) translate($half-width, $half-width);
        }

        &:after {
          transform-origin: $width;
          transform: rotateZ(-45deg) translate($half-width, -$half-width);
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .header__logo {
    max-width: 135px;
  }

  .header__lang-switcher {
    margin-left: auto;
  }
}

.mobile-menu__modal.visible {
  transform: scale(1) rotate(0deg) translateY(0);
  visibility: visible;
}

.mobile-menu__nav-menu > li > ul.visible {
  transform: scale(1) rotate(0deg) translateY(0);
  visibility: visible;
  padding: 0 20px;
  padding-top: 55px;
}

.mobile-menu__back-btn.visible {
  visibility: visible;
  opacity: 1;
}

.header {
  background-color: var(--black);
  .container {
    position: relative;
  }

  &__logo {
    max-width: 258px;
  }

  &__position {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0 17px 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__wrapper {
    width: 790px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  &__social-links-list {
    display: flex;
    gap: 24px;

    span {
      @include transition(color);
      &:hover {
        color: var(--accent);
      }
    }
  }

  &__phone-btn {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background-color: var(--white);
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    line-height: calc(16 / 13);
    @include transition(color);

    &:hover {
      color: var(--accent);
    }
  }

  &__lang-switcher {
    display: flex;
    gap: 24px;
    color: var(--gray-text);
    text-transform: uppercase;
    font-weight: 500;
    line-height: calc(17 / 14);

    a {
      @include transition(color);
      &:hover {
        color: var(--accent);
      }
    }
  }

  &__search {
    position: relative;
    width: 354px;

    input {
      display: inline-block;
      border: 1px solid #f2f2f2;
      border-radius: 29px;
      padding: 10px 10px 10px 12px;
      outline: unset;
      width: 100%;
      background-color: transparent;
      color: var(--gray-text);
    }

    input::placeholder {
      color: var(--gray-text);
      font-weight: 400;
      font-size: 14px;
      line-height: calc (17 / 14);
    }

    .icon-search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
}

.header {
  &__nav-menu > li > {
    ul {
      position: absolute;
      top: 46px;
      left: 0;
      visibility: hidden;
      opacity: 0;

      background-color: var(--white);
      border-radius: 16px;

      display: flex;
      flex-direction: column;
      gap: 16px;

      padding: 24px;
      color: var(--black);
      min-width: 233px;

      transition: opacity 250ms ease-in, visibility 250ms ease-in;
    }
  }

  &__nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: calc(17 / 14);
    color: #f2f2f2;

    a {
      @include transition(color);

      &:hover {
        color: var(--accent);
      }
    }
  }

  &__nav-menu > li > a {
    text-transform: uppercase;
  }

  &__nav-menu > {
    li {
      position: relative;
      padding: 15px;
    }

    li:not(:nth-of-type(5)):hover > {
      ul {
        visibility: visible;
        opacity: 1;
      }
    }

    li::after {
      content: "";
      display: none;
      position: absolute;
      top: 48%;
      right: 0;
      transform: translateY(-50%) rotate(45deg);

      border-width: 0px 2px 2px 0px;
      border-style: solid;
      border-color: #f2f2f2;
      padding: 2px;
      cursor: pointer;
    }

    li:nth-of-type(1)::after {
      display: inline-block;
    }

    li:nth-of-type(3)::after {
      display: inline-block;
    }

    li:nth-of-type(6)::after {
      display: inline-block;
    }
  }
}

.header > .container {
  display: none;
  @include desktop {
    display: block;
  }
}
