.hero {
  position: relative;
}

.slider {
  .container {
    position: relative;
    height: 100%;
  }

  &__media {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    color: var(--white);
    font-size: 54px;
    line-height: calc(65 / 54);
    font-weight: 800;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  &__item {
    height: 875px;
    position: relative;
  }

  &__arrows {
    position: absolute;
    bottom: 12%;
    right: 50%;
    transform: translate(50%, 50%);

    .current-slide {
      margin-left: 54px;
      font-size: 16px;
      font-weight: 700;
      line-height: calc(19 / 16);
      color: var(--accent);
    }

    .total-slides {
      margin-right: 54px;
      font-size: 33px;
      font-weight: 700;
      line-height: calc(40 / 33);
      color: var(--white);
    }
  }
}

.arrow-btn-slider {
  outline: unset;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: var(--transition);

  &:hover {
    color: var(--accent);
  }
}
