@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dy5zll');
  src:  url('fonts/icomoon.eot?dy5zll#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dy5zll') format('truetype'),
    url('fonts/icomoon.woff?dy5zll') format('woff'),
    url('fonts/icomoon.svg?dy5zll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  color: #828282;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e900";
}
.icon-cursor-logo:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-i:before {
  content: "\e903";
}
.icon-y:before {
  content: "\e904";
}
.icon-f:before {
  content: "\e905";
}
.icon-arrow-slider-right:before {
  content: "\e906";
}
.icon-arrow-slider-left:before {
  content: "\e907";
}

