@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
body,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --accent: #ea5933;
  --white: white;
  --black: #0d0d0d;
  --gray: #e0e0e0;
  --gray-text: #bdbdbd;
}

body {
  color: var(--black);
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 5px 20px;
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0;
  }
}

.title {
  font-size: 24px;
  line-height: 1.2083333333;
  font-weight: 800;
  color: var(--accent);
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 42px;
    line-height: 1.25;
  }
}

.link {
  color: var(--accent);
  font-size: 13px;
  line-height: 1.2307692308;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.link .icon-arrow {
  color: inherit;
  font-size: 16px;
}

.current_page_item {
  color: var(--accent);
}

.current-menu-item {
  color: var(--accent);
}

.time {
  margin-top: 16px;
  color: #9b9b9b;
  font-weight: 400;
  line-height: 1.2142857143;
}

.text {
  font-size: 14px;
  line-height: 1.6428571429;
  font-weight: 400;
}
@media screen and (min-width: 1280px) {
  .text {
    font-size: 16px;
    line-height: 1.625;
  }
}

.accent {
  color: var(--accent);
}
.accent:hover {
  text-decoration: underline;
}

.routes {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--gray-text);
}
.routes span {
  color: var(--black);
}

.overflow {
  overflow-y: hidden;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?dy5zll");
  src: url("fonts/icomoon.eot?dy5zll#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?dy5zll") format("truetype"), url("fonts/icomoon.woff?dy5zll") format("woff"), url("fonts/icomoon.svg?dy5zll#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  color: #828282;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}

.icon-cursor-logo:before {
  content: "\e901";
}

.icon-arrow:before {
  content: "\e902";
}

.icon-i:before {
  content: "\e903";
}

.icon-y:before {
  content: "\e904";
}

.icon-f:before {
  content: "\e905";
}

.icon-arrow-slider-right:before {
  content: "\e906";
}

.icon-arrow-slider-left:before {
  content: "\e907";
}

.mobile-menu {
  background-color: var(--black);
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
}
.mobile-menu .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__header .container {
  z-index: 3;
}
.mobile-menu__modal {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--black);
  padding-top: 60px;
  transform-origin: 100% 0;
  transform: scale(0) rotate(60deg) translateY(-50%);
  visibility: hidden;
  transition: all 500ms cubic-bezier(0, 1.99, 1, 1.09);
}
.mobile-menu__nav-menu {
  margin-top: 55px;
  font-weight: 500;
  line-height: 1.2142857143;
  color: #f2f2f2;
}
.mobile-menu__nav-menu li {
  position: relative;
  padding: 15px 15px 15px 0;
}
.mobile-menu__nav-menu > li > ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--black);
  transform: scale(0) rotate(60deg) translateY(-50%);
  transition: all 500ms ease-out;
}
.mobile-menu__nav-menu > li::after {
  content: "";
  display: none;
  position: absolute;
  z-index: -1;
  top: 48%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #f2f2f2;
  padding: 2px;
  cursor: pointer;
}
.mobile-menu__nav-menu > li:nth-of-type(1)::after {
  display: inline-block;
}
.mobile-menu__nav-menu > li:nth-of-type(3)::after {
  display: inline-block;
}
.mobile-menu__nav-menu > li:nth-of-type(6)::after {
  display: inline-block;
}
.mobile-menu__nav-menu > li > a {
  text-transform: uppercase;
}
.mobile-menu__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px 20px 20px;
}
.mobile-menu__footer > div {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.mobile-menu__back-btn {
  position: absolute;
  top: 90px;
  z-index: 1;
  margin-left: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-out;
}
.mobile-menu__back-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--gray);
  transform: rotate(-45deg) translateY(-3px);
  position: relative;
  top: -5px;
}
.mobile-menu__back-btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--gray);
  transform: rotate(45deg) translateY(3px);
}
.mobile-menu .btn2 {
  margin-left: 16px;
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
}
.mobile-menu .btn2 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 30px;
  top: 26px;
  background-color: var(--accent);
}
.mobile-menu .btn2 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--accent);
  content: "";
  top: -10px;
}
.mobile-menu .btn2 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--accent);
  content: "";
  top: 10px;
}
.mobile-menu .btn2.open .icon {
  transition-duration: 0.5s;
  background-color: transparent;
}
.mobile-menu .btn2.open .icon:before {
  transform-origin: 30px;
  transform: rotate(45deg) translate(14.5px, 14.5px);
}
.mobile-menu .btn2.open .icon:after {
  transform-origin: 30px;
  transform: rotateZ(-45deg) translate(14.5px, -14.5px);
}
.mobile-menu .btn2:hover {
  cursor: pointer;
}
.mobile-menu .header__logo {
  max-width: 135px;
}
.mobile-menu .header__lang-switcher {
  margin-left: auto;
}

.mobile-menu__modal.visible {
  transform: scale(1) rotate(0deg) translateY(0);
  visibility: visible;
}

.mobile-menu__nav-menu > li > ul.visible {
  transform: scale(1) rotate(0deg) translateY(0);
  visibility: visible;
  padding: 0 20px;
  padding-top: 55px;
}

.mobile-menu__back-btn.visible {
  visibility: visible;
  opacity: 1;
}

.header {
  background-color: var(--black);
}
.header .container {
  position: relative;
}
.header__logo {
  max-width: 258px;
}
.header__position {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 17px 0;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__wrapper {
  width: 790px;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}
.header__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.header__social-links-list {
  display: flex;
  gap: 24px;
}
.header__social-links-list span {
  transition: color 250ms ease-in;
}
.header__social-links-list span:hover {
  color: var(--accent);
}
.header__phone-btn {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  background-color: var(--white);
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2307692308;
  transition: color 250ms ease-in;
}
.header__phone-btn:hover {
  color: var(--accent);
}
.header__lang-switcher {
  display: flex;
  gap: 24px;
  color: var(--gray-text);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2142857143;
}
.header__lang-switcher a {
  transition: color 250ms ease-in;
}
.header__lang-switcher a:hover {
  color: var(--accent);
}
.header__search {
  position: relative;
  width: 354px;
}
.header__search input {
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 29px;
  padding: 10px 10px 10px 12px;
  outline: unset;
  width: 100%;
  background-color: transparent;
  color: var(--gray-text);
}
.header__search input::-moz-placeholder {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 14px;
  line-height: calc 1.2142857143;
}
.header__search input::placeholder {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 14px;
  line-height: calc 1.2142857143;
}
.header__search .icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.header__nav-menu > li > ul {
  position: absolute;
  top: 46px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  color: var(--black);
  min-width: 233px;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}
.header__nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.2142857143;
  color: #f2f2f2;
}
.header__nav-menu a {
  transition: color 250ms ease-in;
}
.header__nav-menu a:hover {
  color: var(--accent);
}
.header__nav-menu > li > a {
  text-transform: uppercase;
}
.header__nav-menu > li {
  position: relative;
  padding: 15px;
}
.header__nav-menu > li:not(:nth-of-type(5)):hover > ul {
  visibility: visible;
  opacity: 1;
}
.header__nav-menu > li::after {
  content: "";
  display: none;
  position: absolute;
  top: 48%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #f2f2f2;
  padding: 2px;
  cursor: pointer;
}
.header__nav-menu > li:nth-of-type(1)::after {
  display: inline-block;
}
.header__nav-menu > li:nth-of-type(3)::after {
  display: inline-block;
}
.header__nav-menu > li:nth-of-type(6)::after {
  display: inline-block;
}

.header > .container {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header > .container {
    display: block;
  }
}

.hero {
  position: relative;
}

.slider .container {
  position: relative;
  height: 100%;
}
.slider__media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__content {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: var(--white);
}
@media screen and (min-width: 1280px) {
  .slider__content p {
    display: none;
  }
}
.slider__content .news__slider-link {
  color: var(--accent);
  margin-top: 32px;
}
@media screen and (min-width: 1280px) {
  .slider__content .news__slider-link {
    display: none;
  }
}
.slider__title {
  color: var(--accent);
  font-size: 28px;
  line-height: 1.2142857143;
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .slider__title {
    color: var(--white);
    font-size: 54px;
    line-height: 1.2037037037;
    text-align: center;
  }
}
.slider__item {
  height: 875px;
  position: relative;
}
.slider__arrows {
  position: absolute;
  bottom: 12%;
  right: 50%;
  transform: translate(50%, 50%);
  display: flex;
}
.slider__arrows .current-slide {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875;
  color: var(--accent);
  align-self: baseline;
}
@media screen and (min-width: 1280px) {
  .slider__arrows .current-slide {
    margin-left: 54px;
  }
}
.slider__arrows .total-slides {
  margin-right: 24px;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.2121212121;
  color: var(--white);
  align-self: baseline;
}
@media screen and (min-width: 1280px) {
  .slider__arrows .total-slides {
    margin-right: 54px;
  }
}

.arrow-btn-slider {
  outline: unset;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: color 250ms ease-in;
}
.arrow-btn-slider:hover {
  color: var(--accent);
}

.about {
  padding: 80px 0;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 123px;
}
@media screen and (min-width: 1280px) {
  .about .container {
    flex-direction: row;
  }
}
.about div {
  order: 2;
}
@media screen and (min-width: 1280px) {
  .about div {
    order: 1;
  }
}
.about__img {
  border-radius: 15px;
  max-width: 417px;
}
@media screen and (min-width: 1280px) {
  .about__img {
    order: 2;
  }
}
.about .link {
  margin-top: 24px;
}
.about .text {
  margin-top: 40px;
}

.gallery {
  background-color: var(--gray);
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
@media screen and (min-width: 1280px) {
  .gallery .container {
    padding: 80px 0;
  }
}
.gallery__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .gallery__categories {
    flex-direction: row;
  }
}
.gallery__categories-item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__categories-item img {
  border-radius: 15px;
}
.gallery__categories-item .link {
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
.gallery__categories-item .link span {
  font-weight: 600;
}

.news .container {
  padding: 80px 0;
}
.news__btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 35px;
  background-color: var(--gray);
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  color: var(--black);
  text-transform: none;
}
.news .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1280px) {
  .news .title .news__btn {
    display: flex;
  }
}
.news__slider {
  margin-top: 50px;
  padding: 0 20px;
}
.news__slider-img {
  border-radius: 10px;
}
.news__slider-title {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 800;
  text-transform: uppercase;
}
.news__slider-text {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6428571429;
}
.news__slider-link {
  margin-top: 16px;
  color: var(--black);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2307692308;
}
.news__slider-link span {
  font-weight: inherit;
}
.news .custom-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.news .custom-wrapper .icon-arrow-slider-right {
  margin-left: 15px;
}
.news .custom-wrapper .icon-arrow-slider-left {
  margin-right: 15px;
}
.news .custom-wrapper .arrow-btn-slider {
  color: var(--black);
  font-size: 23px;
  font-weight: 300;
}
@media screen and (min-width: 1280px) {
  .news .custom-wrapper .arrow-btn-slider {
    font-size: 30px;
  }
}
.news .custom-wrapper .slick-dots {
  position: static;
  width: auto;
}
.news .custom-wrapper .slick-dots li button:before {
  font-size: 16px;
  color: var(--gray);
  opacity: unset;
}
.news .custom-wrapper .slick-dots li.slick-active button:before {
  color: var(--accent);
  opacity: unset;
}

.news .container > .news__btn {
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .news .container > .news__btn {
    display: none;
  }
}

.footer img {
  display: none;
  max-width: 220px;
}
@media screen and (min-width: 1280px) {
  .footer img {
    display: block;
  }
}
.footer__top-bg {
  background-color: var(--black);
}
.footer__bottom-bg {
  background-color: var(--accent);
  padding: 9px 0;
}
.footer__top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .footer__bottom {
    flex-direction: row;
    gap: unset;
  }
}
.footer__bottom p,
.footer__bottom .footer__developers {
  font-size: 12px;
  color: var(--white);
  line-height: 1;
  font-weight: 400;
  order: 2;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .footer__bottom p,
  .footer__bottom .footer__developers {
    order: unset;
  }
}
.footer .header__social-links-list span:hover {
  color: var(--white);
}
.footer__bottom-wrapper {
  display: flex;
  align-items: center;
  gap: 33px;
}
.footer__developers {
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer__nav-menu {
  color: var(--white);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .footer__nav-menu {
    flex-direction: row;
  }
}
.footer__nav-menu a {
  transition: color 250ms ease-in;
}
.footer__nav-menu a:hover {
  color: var(--accent);
}
.footer nav {
  width: 960px;
}
.footer__nav-menu > li {
  flex: 1;
  justify-content: flex-end;
}
.footer__nav-menu > li > a {
  display: inline-block;
  padding: 15px 0;
  text-transform: uppercase;
}
.footer__nav-menu > li > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 1.1666666667;
}

.white {
  color: var(--white);
}

.btn-white {
  background-color: var(--white);
  padding: 8px 10px;
}

.news-page__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 80px;
}
.news-page__content-block {
  width: 72%;
}
.news-page__content-block p,
.news-page__content-block li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}
.news-page__content-block ol {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}
.news-page__content-block ul {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: disc;
}
.news-page__news-list-block {
  width: 24%;
}
.news-page__news-list-block h2 {
  font-size: 26px;
  line-height: 1.1923076923;
  font-weight: 800;
  text-transform: uppercase;
}
.news-page__news-list-block .news__btn {
  width: 100%;
  margin-top: 32px;
}
.news-page__news-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.news-page__news-list li > a:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.news-page__news-list li > a:nth-of-type(1) h3 {
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 800;
  text-transform: uppercase;
}
.news-page__news-list li > a:nth-of-type(1) img {
  border-radius: 10px;
}
.news-page__news-list li > a:nth-of-type(2) {
  margin-top: 16px;
}
.news-page__img {
  margin-top: 48px;
  max-width: 916px;
}
.news-page .time {
  margin-top: 0;
}
.news-page__next-news {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 65px;
}
.news-page__next-news-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.news-page__next-news-block {
  display: flex;
  gap: 16px;
  max-width: 425px;
}
.news-page__next-news-block img {
  max-width: 100px;
}
.news-page__next-news-block h3 {
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 800;
  text-transform: uppercase;
}
.news-page__next-news-block-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-page .news__btn {
  display: flex;
}

.prices-page .container {
  padding-bottom: 80px;
}
.prices-page__wrapper {
  max-width: 850px;
  margin: 0 auto;
}
.prices-page__title {
  margin-top: 32px;
  text-align: center;
}
.prices-page__prices {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.prices-page__prices li {
  width: 100%;
  max-width: 416px;
  padding: 35px 15px 45px 15px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--gray);
}
.prices-page__prices li span {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--accent);
}
.prices-page__prices li p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222;
  margin-top: 16px;
}

.contacts-page {
  padding-bottom: 80px;
}
.contacts-page__title {
  margin-top: 32px;
  text-align: center;
}
.contacts-page img {
  max-width: 600px;
  border-radius: 15px;
}
.contacts-page__content-block {
  margin: 0 auto;
  margin-top: 46px;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.contacts-page__content-block > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 370px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}
.contacts-page__content-block > div > div p:nth-of-type(2) a:nth-of-type(2) {
  text-decoration: underline;
}
.contacts-page__content-block > div > div > span {
  text-transform: uppercase;
  color: var(--accent);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6363636364;
}
.contacts-page__content-block > div > .header__social-links-list {
  margin-top: 32px;
}
.contacts-page__content-block > div > .header__social-links-list > li > a > span {
  color: var(--black);
}
.contacts-page__content-block > div > .header__social-links-list > li > a:hover span {
  color: var(--accent);
}

.services-page {
  padding-bottom: 80px;
}
.services-page__title {
  margin-top: 32px;
  text-align: center;
}
.services-page__wrapper {
  max-width: 916px;
  margin: 0 auto;
}
.services-page__wrapper > img {
  margin-top: 32px;
}
.services-page__wrapper > p {
  margin-top: 32px;
}
.services-page__img-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  gap: 16px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 44px;
}
.services-page__img-wrapper img {
  max-width: 416px;
}
.competitions-page {
  padding-bottom: 80px;
}
.competitions-page__wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.competitions-page__title {
  margin-top: 32px;
  text-align: center;
}
.competitions-page__table-head {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 14px;
  line-height: 1.7142857143;
  font-weight: 700;
}
.competitions-page__table-head p {
  text-align: center;
  text-transform: uppercase;
}
.competitions-page__table-head p:nth-of-type(1) {
  text-align: left;
  flex: 0.4;
}
.competitions-page__table-head p:nth-of-type(2) {
  flex: 0.18;
}
.competitions-page__table-head p:nth-of-type(3) {
  flex: 0.1;
}
.competitions-page__table-head p:nth-of-type(4) {
  flex: 0.2;
}
.competitions-page__table-body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 15px;
}
.competitions-page__table-body-item:nth-child(odd) {
  background-color: #F6F6F6;
}
.competitions-page__table-body-item p {
  text-align: center;
}
.competitions-page__table-body-item p:nth-of-type(1) {
  flex: 0.4;
  text-align: left;
  font-weight: 700;
}
.competitions-page__table-body-item p:nth-of-type(2) {
  flex: 0.18;
}
.competitions-page__table-body-item p:nth-of-type(3) {
  flex: 0.1;
}
.competitions-page__table-body-item p:nth-of-type(4) {
  flex: 0.2;
}
.competitions-page__table-body-item p:nth-of-type(4) a {
  display: block;
  margin-top: 8px;
  padding: 14px 10px;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 50px;
}

.events-page {
  padding-bottom: 80px;
}
.events-page__title {
  margin-top: 32px;
  text-align: center;
}
.events-page__list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 64px;
}
.events-page__list-item {
  min-width: 280px;
  width: calc(33.33333% - 16px);
}
.events-page__list-item img {
  max-width: 416px;
}
.events-page__list-item h2 {
  margin-top: 32px;
}
.events-page__list-item a {
  margin-top: 24px;
  color: var(--black);
  transition: color 250ms ease-in;
}
.events-page__list-item a:hover {
  color: var(--accent);
}/*# sourceMappingURL=style.css.map */