.events-page {
  padding-bottom: 80px;
  padding-top: 80px;

  @include desktop {
    padding-top: unset;
  }

  &__title {
    margin-top: 32px;
    text-align: center;
  }

  &__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 64px;
  }

  &__list-item {
    width: 100%;

    @include tablet {
      width: calc(50% - 16px);
    }

    @include desktop {
      width: calc(33.33333% - 16px);
    }

    h2 {
      margin-top: 32px;
    }

    a {
      margin-top: 24px;
      color: var(--black);
      @include transition(color);
    }

    a:hover {
      color: var(--accent);
    }
  }
}

.pagination {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    gap: 16px;
  }

  .page-numbers {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--black);
    @include transition(color);

    &:hover {
      color: var(--accent);
    }
  }

  .current {
    border-radius: 50%;
    background-color: var(--accent);
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  .prev,
  .next {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // display: block;
    font-size: 20px;
    color: var(--gray);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .prev .arrow-btn-slider,
  .next .arrow-btn-slider {
    @include transition(color);

    &:hover {
      color: var(--accent);
    }
  }

  .prev::before {
    content: "\e907";
  }

  .prev {
    @include desktop {
      margin-right: 14px;
    }
  }

  .next::before {
    content: "\e906";
  }

  .next {
    @include desktop {
      margin-left: 14px;
    }
  }
}
