.contacts-page {
  padding-bottom: 80px;
  padding-top: 80px;

  @include desktop {
    padding-top: unset;
  }
  &__title {
    margin-top: 32px;
    text-align: center;
  }

  img {
    max-width: 600px;
    border-radius: 15px;
  }

 

  &__content-block {
    margin: 0 auto;
    margin-top: 46px;
    max-width: 1060px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
      justify-content: space-between;
    }
  }

  &__content-block > div > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 370px;

    font-size: 16px;
    font-weight: 400;
    line-height: calc(26 / 16);

    text-align: center;

    @include desktop {
      text-align: unset;
    }

    p {
      &:nth-of-type(2) {
        a {
          &:nth-of-type(2) {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__content-block > div > div > span {
    text-transform: uppercase;
    color: var(--accent);
    font-size: 22px;
    font-weight: 700;
    line-height: calc(36 / 22);
  }

  &__content-block > div > .header__social-links-list {
    margin-top: 32px;
    justify-content: center;

    @include desktop {
      justify-content: unset;
    }
  }

  &__content-block > div > .header__social-links-list > li > a > span {
    color: var(--black);
  }

  &__content-block > div > .header__social-links-list > li > a:hover span {
    color: var(--accent);
  }
}
